.App {
  text-align: center;
}

/* Login */

.LoginCard {
    background-color: #FFFFFF;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

/* EmployeesList */

.EmployeesListCard {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
    position: absolute;
    margin-top: 100px;
    margin-left: 500px;
}

.EmployeesListInput {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    float:right;
    margin-top: 100px;
    margin-right: 500px;
}

/* EmployeesData */

.EmployeesDataCard {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
}

.EmployeesDataTable {
    margin-bottom: 30px;
}

/* Other */

.AnyScreen {
    background-color: #edeef0;
    height: 100vh;
    width: 100%;
    position: relative;
}

.AnyText {
    padding-bottom: 10px;
}

.AnyInput {
    margin-bottom: 20px;
}

.AnyButton {
    color: #FFFFFF;
    background-color: #000000;
    padding: 5px 40px 5px 40px;
    border-radius: 10px;
    display: block;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%
}

.Calendar {
    float:right;
    margin-top: 100px;
    margin-right: 100px;
}

/* Menu */

.MenuUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.MenuLi {
  float: left;
}

.MenuLi a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.MenuLi a:hover {
  background-color: #111111;
}